<div class="card-container">
  <h1>Productos Destacados</h1>
  <div class="card">
    <h2>Seguro de Autos</h2>
    <img src="/icons/car.png" alt="">
    <a mat-flat-button color="warn" class="card-button" routerLink="/personas/autos" (click)="goTop()">Cotizar</a>
  </div>
  <div class="card">
    <h2>Seguro de Cumplimiento</h2>
    <img src="/icons/hands-shake.png" alt="">
    <a mat-flat-button color="warn" class="card-button" routerLink="/empresas/cumplimiento" (click)="goTop()">Cotizar</a>
  </div>
  <div class="card">
    <h2>Asistencia en Viajes</h2>
    <img src="/icons/airplane.png" alt="">
    <a mat-flat-button color="warn" class="card-button" routerLink="/personas/viaje" (click)="goTop()">Cotizar</a>
  </div>
</div>
