<section class="autos-insure-section">
  <div class="autos-insure-container">
    <!-- <h1>Seguro de Salud</h1> -->
    <p>Conduce con tranquilidad. Nuestra póliza incluye cobertura por daños a terceros, pérdida total, accidentes, robo y asistencia vial. Diseñada para cumplir con la normativa en Colombia y ofrecerte máxima protección en cada kilómetro.</p>
    <div class="autos-insure-coverage-container">
      <h2>Principales coberturas:</h2>
      <ul class="autos-insure-coverage-content">
        <li>
          <mat-icon>check</mat-icon>
          <p>Cubre las lesiones a terceros, daños a bienes particulares o casos de muerte que puedan presentarse al momento de un accidente de tránsito</p>
        </li>
        <li>
          <mat-icon>check</mat-icon>
          <p>Daños Causados al vehículo</p>
        </li>
        <li>
          <mat-icon>check</mat-icon>
          <p>Perdida parcial o total en caso de hurto.</p>
        </li>
        <li>
          <mat-icon>check</mat-icon>
          <p>Asistencia en viaje</p>
        </li>
        <li>
          <mat-icon>check</mat-icon>
          <p>Vehiculo de reemplazo o sustitución</p>
        </li>
      </ul>
    </div>    
  </div>
</section>

