<section class="collective-insure-section">
  <div class="collective-insure-container">
    <div class="breadbrumbs-container">
      <c-breadcrumb [style]="'--cui-breadcrumb-divider:\'>\''">
        <c-breadcrumb-item url="/inicio">Inicio</c-breadcrumb-item>
        <c-breadcrumb-item url="/empresas/colectivos">Pólizas Colectivas</c-breadcrumb-item>
        <c-breadcrumb-item [active]="true">{{selectedTypeInfo.name}}</c-breadcrumb-item>
      </c-breadcrumb>
    </div>
    <!-- <h1>Seguro de Salud</h1> -->
    <p>{{selectedTypeInfo.introduction}}</p>
  </div>
</section>

<app-coverage-cards [coverageCardsData]="selectedTypeInfo.coverages" [coverageCardsTitle]="selectedTypeInfo.coverageTitle"/>