<section class="our-values-section">
  <div class="our-values-container">
    <h1>Nuestros valores</h1>
    <!-- <div class="our-values-content"> -->
      <div class="our-values-card">
        <div class="our-values-image-container"><img class="remove-bg" src="/icons/atention-white.png" alt=""></div>
        <div class="our-values-card-content">
          <h2>Cercania y atención personalizada</h2>
          <p>Queremos conocerte y ofrecerte soluciones hechas a tu medida.</p>
        </div>
      </div>
      <div class="our-values-card">
        <div class="our-values-image-container"><img class="remove-bg" src="/icons/heart-white.png" alt=""></div>
        <div class="our-values-card-content">
          <h2>Confianza y transparencia</h2>
          <p>La base de nuestras relaciones</p>
        </div>
      </div>
      <div class="our-values-card">
        <div class="our-values-image-container"><img class="remove-bg" src="/icons/touch-back-white.png" alt=""></div>
        <div class="our-values-card-content">
          <h2>Empatía</h2>
          <p>Entendemos tus necesidades porque las hacemos nuestras.</p>
        </div>
      </div>
      <div class="our-values-card">
        <div class="our-values-image-container"><img class="remove-bg" src="/icons/light-white.png" alt=""></div>
        <div class="our-values-card-content">
          <h2>Innovación</h2>
          <p>Siempre un paso adelante para brindarte lo mejor.</p>
        </div>
      </div>
    </div>
  <!-- </div> -->
</section>