.pension-insure-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 50px 80px;
}

.pension-insure-container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  width: 100%;
  gap: 30px;
}

.pension-insure-container p {
  font-size: 24px;
  color: var(--primaryTextColor);
}

.pension-insure-coverage-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 0;
  border-radius: 10px;  
  border: 2px solid var(--primaryColor);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* background: linear-gradient(45deg, var(--primaryColor) 0%, var(--secondaryColor) 100%); */
}

.pension-insure-coverage-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0 0 0;
  gap: 10px;
}

.pension-insure-coverage-container h2{
  color: var(--primaryColor);
}

.pension-insure-coverage-content p {
  color: var(--primaryTextColor);
  /* color: white; */
}

.pension-insure-coverage-content li {
  display: flex;
  align-items: baseline;
  gap: 10px;
  height: fit-content;
  font-size: 24px;
}

.pension-insure-coverage-content mat-icon {
  color: var(--primaryColor);
  font-weight: bold;
  font-size: 30px;
}

.pension-insure-coverage-content p {
  margin: 0;
  max-width: calc(100% - 36px);
}

@media screen and (max-width: 1023px) {
  .pension-insure-container {
    padding: 50px 20px 20px;
  }
}

@media screen and (max-width: 767px) {
  .pension-insure-coverage-content {
    padding: 0;
  }

  .pension-cards-container > h1{
    font-size: 36px;
  }
  
  .pension-insure-container > p {
    text-align: center;
  }
}