<section class="pension-insure-section">
  <div class="pension-insure-container">
    <!-- <h1>Seguro de Salud</h1> -->
    <p>{{pensionProductsData.description}}</p>
  </div>
</section>
<app-coverage-cards [coverageCardsData]="pensionProductsData.coverages" title="Principales coberturas" />
<section class="pension-insure-section">
  <div class="pension-insure-container">
    <!-- <h1>Seguro de Salud</h1> -->
    <p>Estas coberturas están diseñadas para brindar seguridad financiera tanto al afiliado como a sus seres queridos, adaptándose a las necesidades particulares de cada persona.</p>
  </div>
</section>

