<section class="pension-insure-section">
  <div class="pension-insure-container">
    <!-- <h1>Seguro de Salud</h1> -->
    <p>Las pólizas de pensiones garantizan ingresos estables en la jubilación, ofreciendo respaldo financiero a largo plazo y opciones de ahorro y protección adaptadas a tus necesidades.</p>
    <div class="pension-insure-coverage-container">
      <h2>Principales coberturas:</h2>
      <ul class="pension-insure-coverage-content">
        <li>
          <mat-icon>check</mat-icon>
          <p>Pensión por Vejez.</p>
        </li>
        <li>
          <mat-icon>check</mat-icon>
          <p>Pensión por Invalidez.</p>
        </li>
        <li>
          <mat-icon>check</mat-icon>
          <p>Pensión por supervivencia.</p>
        </li>
        <li>
          <mat-icon>check</mat-icon>
          <p>Auxilio Funerario.</p>
        </li>
      </ul>
    </div>
    <p>Estas coberturas están diseñadas para brindar seguridad financiera tanto al afiliado como a sus seres queridos, adaptándose a las necesidades particulares de cada persona.</p>
  </div>
</section>

