<app-product-banner [isPerson]="true" />
<div class="persons-content-container">
  <mat-tab-group [selectedIndex]="(selectedProduct - 1)">
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="tab-container-action" (click)="routeProduct('vida')">
          <mat-icon class="tab-icon-custom">volunteer_activism</mat-icon>
          Vida
        </div>
      </ng-template>
      <app-life-category-insure />
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="tab-container-action" (click)="routeProduct('salud')">
        <mat-icon class="tab-icon-custom">health_and_safety</mat-icon>
        Salud
      </div>
      </ng-template>
      <app-health-insure />
    </mat-tab>
    <mat-tab class="tab-custom">
      <ng-template mat-tab-label>
        <div class="tab-container-action" (click)="routeProduct('educacion')">
          <mat-icon class="tab-icon-custom">school</mat-icon>
          Educación
        </div>
      </ng-template>
      <app-education-insure />
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="tab-container-action" (click)="routeProduct('pension')">
          <mat-icon class="tab-icon-custom">savings</mat-icon>
          Pensión
        </div>
      </ng-template>
      <app-pension-insure />
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="tab-container-action" (click)="routeProduct('hogar')">
          <mat-icon class="tab-icon-custom">cottage</mat-icon>
          Hogar
        </div>
      </ng-template>
      <app-home-insure />
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="tab-container-action" (click)="routeProduct('arriendo')">
          <mat-icon class="tab-icon-custom">real_estate_agent</mat-icon>
          Arriendo
        </div>
      </ng-template>
      <app-lease-insure />
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="tab-container-action" (click)="routeProduct('mascotas')">
          <mat-icon class="tab-icon-custom">pets</mat-icon>
          Mascotas
        </div>
      </ng-template>
      <app-pet-insure />
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="tab-container-action" (click)="routeProduct('autos')">
          <mat-icon class="tab-icon-custom">directions_car</mat-icon>
          Autos
        </div>
      </ng-template>
      <app-autos-insure />
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="tab-container-action" (click)="routeProduct('bicicletas')">
          <mat-icon class="tab-icon-custom">pedal_bike</mat-icon>
          Bicicletas
        </div>
      </ng-template>
      <app-bike-insure />
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="tab-container-action" (click)="routeProduct('viaje')">
          <mat-icon class="tab-icon-custom">flight</mat-icon>
          Viaje
        </div>
      </ng-template>
      <app-flight-insure />
    </mat-tab>
  </mat-tab-group>
</div>

<app-contact-form />