<section class="life-insure-section">
  <div class="life-insure-container">
    <!-- <h1>Seguro de Salud</h1> -->
    <p>La póliza de vida te ofrece la tranquilidad de proteger a tus seres queridos ante cualquier eventualidad. Brinda respaldo económico para cubrir gastos imprevistos, garantizar estabilidad financiera y asegurar el bienestar de tu familia. Con opciones flexibles y personalizables, esta póliza es una inversión en tu tranquilidad y en el futuro de quienes más amas.</p>
    <div class="life-insure-coverage-container">
      <h2>Principales coberturas:</h2>
      <ul class="life-insure-coverage-content">
        <li>
          <mat-icon>check</mat-icon>
          <p>Fallecimiento por cualquier causa</p>
        </li>
        <li>
          <mat-icon>check</mat-icon>
          <p>Invalidez</p>
        </li>
        <li>
          <mat-icon>check</mat-icon>
          <p>Muerte Accidental</p>
        </li>
        <li>
          <mat-icon>check</mat-icon>
          <p>Enfermedades Graves</p>
        </li>
      </ul>
    </div>    
  </div>
</section>

