<section class="co-ownership-insure-section">
  <div class="co-ownership-insure-container">
    <!-- <h1>Seguro de Salud</h1> -->
    <p>Protege tu edificio o conjunto residencial contra riesgos como daños estructurales, robos y responsabilidad civil. Nuestra póliza de copropiedades asegura la tranquilidad de todos los propietarios y residentes.</p>
    <div class="co-ownership-insure-coverage-container">
      <h2>Coberturas Básicas:</h2>
      <ul class="co-ownership-insure-coverage-content">
        <li>
          <mat-icon>check</mat-icon>
          <p><b>Incendio y/o Rayo:</b> Protege contra daños causados por incendios o impactos de rayos en las áreas comunes.</p>
        </li>
        <li>
          <mat-icon>check</mat-icon>
          <p><b>Terremoto, Temblor y/o Erupción Volcánica:</b> Cubre daños ocasionados por movimientos sísmicos o erupciones volcánicas.</p>
        </li>
        <li>
          <mat-icon>check</mat-icon>
          <p><b>Explosión:</b> Ampara los daños resultantes de explosiones accidentales.</p>
        </li>
      </ul>
    </div>

    <div class="co-ownership-insure-coverage-container">
      <h2>Coberturas Adicionales (Opcionales):</h2>
      <ul class="co-ownership-insure-coverage-content">
        <li>
          <mat-icon>check</mat-icon>
          <p><b>Actos Malintencionados de Terceros (AMIT) y Huelga, Motín, Asonada y Conmoción Civil (HMACC):</b> Cubre daños causados por vandalismo, disturbios o actos de terceros con intención de causar daño.</p>
        </li>
        <li>
          <mat-icon>check</mat-icon>
          <p><b>Daños por Agua y Anegación:</b> Protege contra daños derivados de inundaciones, filtraciones o roturas de tuberías.</p>
        </li>
        <li>
          <mat-icon>check</mat-icon>
          <p><b>Hurto Calificado y Hurto Simple:</b> Ampara pérdidas por robos con o sin violencia en las áreas comunes.</p>
        </li>
        <li>
          <mat-icon>check</mat-icon>
          <p><b>Rotura de Maquinaria:</b> Protege equipos y sistemas mecánicos esenciales de la copropiedad, como ascensores o plantas eléctricas, en caso de fallas o averías.</p>
        </li>
        <li>
          <mat-icon>check</mat-icon>
          <p><b>Terremoto, Temblor y/o Erupción Volcánica:</b> Cubre daños ocasionados por movimientos sísmicos o erupciones volcánicas.</p>
        </li>
        <li>
          <mat-icon>check</mat-icon>
          <p><b>Asistencia Domiciliaria:</b> Servicios de emergencia como plomería, electricidad, cerrajería y reparación de vidrios en áreas comunes y, en algunos casos, en áreas privadas.</p>
        </li>
      </ul>
    </div>
  </div>
</section>

