<section class="our-innovation-section">
  <div class="our-innovation-container">
    <div class="our-innovation-content">
      <h1>Innovación y Futuro</h1>
      <p>En InsurLink, miramos al futuro con una visión clara, ser una agencia de seguros que evoluciona contigo. Apostamos por la innovación y la tecnología para simplificar, agilizar y personalizar cada experiencia.</p>
      <p class="highlight-paragraph">Innovamos hoy para ofrecerte un mejor mañana.</p>
    </div>
      <img src="/images/about/innovation.png" alt="">
  </div>
</section>
