<div class="dialog-container">
  <button mat-icon-button class="close-button" aria-label="Close" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
  <img src="/images/about/team/alexandra-peña-qr.png" alt="alexandra-qr">
  <div class="contact-container">
    <button mat-mini-fab color="warn" aria-label="Example icon button with a menu icon">
      <mat-icon>mail</mat-icon>
    </button>
    <!-- <mat-icon mat-flat-mini>mail</mat-icon> -->
    <span> {{"lider.beneficios@insurlink.com.co"}}</span>
  </div>
  <div class="contact-container">
    <button mat-mini-fab color="warn" aria-label="Example icon button with a menu icon">
      <mat-icon>call</mat-icon>
    </button>
    <!-- <mat-icon mat-flat-mini>call</mat-icon> -->
    <span> 3182137613</span>
  </div>
</div>
