<section class="education-insure-section">
  <div class="education-insure-container">
    <!-- <h1>Seguro de Salud</h1> -->
    <p>Protege el futuro educativo de tus hijos con la póliza de educación en Colombia. Se garantiza el pago de la matrícula, pensiones y otros gastos escolares en caso de imprevistos, asegurando que continúen sus estudios sin interrupciones. Una inversión en tranquilidad y en el bienestar académico de tu familia.</p>
    <div class="education-insure-coverage-container">
      <h2>Principales coberturas:</h2>
      <ul class="education-insure-coverage-content">
        <li>
          <mat-icon>check</mat-icon>
          <p>Fallecimiento por cualquier causa</p>
        </li>
        <li>
          <mat-icon>check</mat-icon>
          <p>Invalidez total y permanente</p>
        </li>
      </ul>
    </div>
    <p>Estas coberturas básicas aseguran que, ante eventualidades como fallecimiento o invalidez del asegurado, el beneficiario pueda continuar con su educación superior sin contratiempos financieros.</p>
  </div>
</section>

