<section class="flight-insure-section">
  <div class="flight-insure-container">
    <!-- <h1>Seguro de Salud</h1> -->
    <p>Explora el mundo con la tranquilidad de saber que estás protegido. En <b>Insurlink</b>, te ofrecemos <b>pólizas de viaje</b> diseñadas para que disfrutes cada momento sin preocupaciones. Ya sea que estés planeando una escapada de fin de semana, una aventura internacional o un viaje de negocios, contamos con el respaldo que necesitas.</p> 
  </div>
</section>

<app-coverage-cards [coverageCardsData]="travelProductsData.coverages" />
