<section class="flight-insure-section">
  <div class="flight-insure-container">
    <!-- <h1>Seguro de Salud</h1> -->
    <p [innerHTML]="travelProductsData.description"></p>
    <div class="flight-insure-coverage-container">
      <h2>Principales coberturas:</h2>
      <ul class="flight-insure-coverage-content">
        <li *ngFor="let coverage of travelProductsData.coverages">
          <mat-icon>check</mat-icon>
          <p [innerHTML]="coverage"></p>
        </li>
      </ul>
    </div>    
  </div>
</section>
