<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">¿Por que InsurLink?</h1>
        <p>En InsurLink, no solo ofrecemos pólizas; <b>construimos relaciones</b> sólidas que te brindan tranquilidad y
          respaldo en cada momento importante. Estas son las razones por las cuales nuestros clientes nos eligen como su
          aliado en seguros:</p>
      </div>
    </div>
    <div class="row d-flex justify-content-around body-container">
      <div class="col-md-6 card-container">
        <div class="values-container col-md-12">
          <div class="image-container col-md-12">
            <img src="/icons/community.png" class="remove-bg" alt="community-icon">
          </div>
          <div class="body-content">
            <h2>Acompañamiento Integral</h2>
            <p>Te guiamos y apoyamos en cada etapa de tu experiencia con los seguros.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 card-container">
        <div class="values-container col-md-12">
          <div class="image-container col-md-12">
            <img src="/icons/heart.png" class="remove-bg" alt="community-icon">
          </div>
          <div class="body-content">
            <h2>Confianza y Transparencia</h2>
            <p>Construimos relaciones basadas en la confianza mutua, asegurando siempre la máxima transparencia.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 card-container">
        <div class="values-container col-md-12">
          <div class="image-container col-md-12">
            <img src="/icons/mic.png" class="remove-bg" alt="community-icon">
          </div>
          <div class="body-content">
            <h2>Servicio al cliente</h2>
            <p>Construimos relaciones basadas en la confianza mutua, asegurando siempre la máxima transparencia.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 card-container">
        <div class="values-container col-md-12">
          <div class="image-container col-md-12">
            <img src="/icons/congrats.png" class="remove-bg" alt="community-icon">
          </div>
          <div class="body-content">
            <h2>Amplia experiencia</h2>
            <p>Contamos con profesionales, expertos para brindárte la mejor asesoría.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>