<section>
  <div class="our-mission-container">
    <h1>Nuestra misión, visión y compromiso</h1>
    <div class="mission-card">
      <div class="mission-icon-container">
        <img src="/icons/mision.png" alt="Icono de misión">
      </div>
      <div class="mission-content">
        <h2>Misión</h2>
        <p>Transformar la experiencia con los seguros, haciendo que sea simple y efectiva.</p>
      </div>
    </div>
    <div class="mission-card">
      <div class="mission-icon-container">
        <img src="/icons/strategy.png" alt="Icono de misión">
      </div>
      <div class="mission-content">
        <h2>Visión</h2>
        <p>Ser el aliado de confianza de nuestros clientes, construyendo relaciones duraderas basadas en el respeto, la cercanía y el compromiso.</p>
      </div>
    </div>
    <div class="mission-card">
      <div class="mission-icon-container">
        <img src="/icons/our.png" alt="Icono de misión">
      </div>
      <div class="mission-content">
        <h2>Compromiso</h2>
        <p>Ofrecer un servicio cercano, profesional y especializado, conectando a nuestros clientes con las mejores opciones de seguros del mercado.</p>
      </div>
    </div>
  </div>
</section>
