<div class="card-container">
  <h1>Productos Destacados</h1>
  <div class="card">
    <h2>Seguro de Autos</h2>
    <img src="/icons/hands-to-shake.svg" alt="">
    <a mat-flat-button color="warn" class="card-button" routerLink="/persons/3">Cotizar</a>
  </div>
  <div class="card">
    <h2>Seguro de Cumplimiento</h2>
    <img src="/icons/hands-to-shake.svg" alt="">
    <a mat-flat-button color="warn" class="card-button" routerLink="/persons/3">Cotizar</a>
  </div>
  <div class="card">
    <h2>Asistencia en Viajes</h2>
    <img src="/icons/hands-to-shake.svg" alt="">
    <a mat-flat-button color="warn" class="card-button" routerLink="/persons/3">Cotizar</a>
  </div>
</div>
