<div class="section-container">
  <h1>Nuestros Aliados</h1>
  <div class="banner-container">
    <div class="banner-content remove-bg" *ngFor="let ally of allies">
      <div class="image-container">
        <img cTooltip="{{ally.name}}" class="remove-bg" [src]="ally.image" alt="{{ally.name}}">
      </div>
    </div>
    <div aria-hidden class="banner-content remove-bg" *ngFor="let ally of allies">
      <div class="image-container">
        <img cTooltip="{{ally.name}}" class="remove-bg" [src]="ally.image" alt="{{ally.name}}">
      </div>
    </div>
  </div>
  <div class="banner-container">
    <div class="banner-content-2 remove-bg" *ngFor="let ally of allies2">
      <div class="image-container">
        <img cTooltip="{{ally.name}}" class="remove-bg" [src]="ally.image" alt="{{ally.name}}">
      </div>
    </div>
    <div aria-hidden class="banner-content-2 remove-bg" *ngFor="let ally of allies2">
      <div class="image-container">
        <img cTooltip="{{ally.name}}" class="remove-bg" [src]="ally.image" alt="{{ally.name}}">
      </div>
    </div>
  </div>
</div>