<section class="pet-insure-section">
  <div class="pet-insure-container">
    <!-- <h1>Seguro de Salud</h1> -->
    <p [innerHTML]="petProductsData.description"></p>
    <div class="pet-insure-coverage-container">
      <h2>Principales coberturas:</h2>
      <ul class="pet-insure-coverage-content">
        <li *ngFor="let coverage of petProductsData.coverages">
          <mat-icon>check</mat-icon>
          <p [innerHTML]="coverage"></p>
        </li>
      </ul>
    </div>    
  </div>
</section>