<section class="pet-insure-section">
  <div class="pet-insure-container">
    <!-- <h1>Seguro de Salud</h1> -->
    <p>Nuestras pólizas de mascotas están diseñadas para ofrecerte tranquilidad y asegurar el bienestar de tu mejor amigo. <b>Porque ellos son más que mascotas, ¡son familia!.</b></p>
    <div class="pet-insure-coverage-container">
      <h2>Principales coberturas:</h2>
      <ul class="pet-insure-coverage-content">
        <li>
          <mat-icon>check</mat-icon>
          <p><b>Asistencia veterinaria</b> Cubre consultas, tratamientos y emergencias.</p>
        </li>
        <li>
          <mat-icon>check</mat-icon>
          <p><b>Gastos médicos por accidentes o enfermedades</b> Garantiza atención integral en situaciones imprevistas.</p>
        </li>
        <li>
          <mat-icon>check</mat-icon>
          <p><b>Responsabilidad civil:</b> Protección en caso de daños a terceros.</p>
        </li>
        <li>
          <mat-icon>check</mat-icon>
          <p><b>Cobertura por pérdida o robo:</b> Apoyo en los momentos más difíciles.</p>
        </li>
        <li>
          <mat-icon>check</mat-icon>
          <p><b>Servicios adicionales:</b> Guardería, asesoría legal, y más.</p>
        </li>
      </ul>
    </div>    
  </div>
</section>