.insurers-image-container {
  width: 100%;
  max-width: 100px;
  position: relative;
}

.insurers-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.insurers-link {
  cursor: pointer;
  color: var(--primaryColor);
  display: flex;
  gap: 5px;
  align-items: center;
  text-decoration: none;
}

.insurers-link:hover {
  color: var(--primaryTextColor);
}

::ng-deep .mat-mdc-table mat-row.mat-mdc-row {
  height: 60px !important;
  display: flex;
  align-items: center;
}

::ng-deep .mat-mdc-table-sticky {
  top: 79px !important;
  background-color: var(--primaryColor) !important;
  color: white !important;
}

::ng-deep .mat-mdc-table-sticky mat-header-cell {
  font-size: 18px;
}

::ng-deep .mat-mdc-table-sticky mat-header-cell,
::ng-deep mat-table mat-cell {
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .insurers-link {
    flex-direction: column;
  }

  .mat-mdc-table {
    width: fit-content;
  }

  ::ng-deep .mat-mdc-table-sticky {
    top: 0 !important;
  }

  ::ng-deep .mat-mdc-table-sticky mat-header-cell {
    font-size: 16px;
  }
}