.insurers-image-container{
  width: 100%;
  max-width: 100px;
  position: relative;
}

.insurers-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.insurers-link {
  cursor: pointer;
  color: var(--primaryColor);
  display: flex;
  gap: 5px;
  align-items: center;
  text-decoration: none;
}

.insurers-link:hover {
  color: var(--primaryTextColor);
}

::ng-deep .mat-mdc-table mat-row.mat-mdc-row{
  height: 60px !important;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .insurers-link {
    flex-direction: column;
  }

  .mat-mdc-table {
    width: fit-content;
  }
}