<mat-toolbar color="primary" class="nav-toolbar">
  <img src="./images/insurlink-white-logo.png" width="200px" alt="logo">
  <span class="flex-spacer"></span>
  <div class="desktop-navbar-items">
    <a mat-button style="position: relative;" routerLink="/group-life">Inicio</a>
    <button mat-button [matMenuTriggerFor]="portfolio" style="position: relative;" class="menu-item-button">
      <mat-icon color="white">keyboard_arrow_down</mat-icon>
      <span>Portafolio</span>
    </button>
    <a mat-button style="position: relative;" routerLink="/about">Nosotros</a>
    <a mat-button style="position: relative;" routerLink="/blog">Blog</a>
    <a mat-button style="position: relative;" routerLink="/qa">Q&A</a>
    <a mat-button style="position: relative;" routerLink="/contact">Contactanos</a>

    <mat-menu #portfolio="matMenu" xPosition="after" color="primary" class="main-desktop">
      <div (click)="$event.stopPropagation();">
        <button mat-button (click)="layoutService.setTypeMenu(1)">Personas</button>
        <button mat-button (click)="layoutService.setTypeMenu(2)">Empresas</button>
      </div>
      <!-- personas -->
      <div *ngIf="layoutService.getTypeMenu() == 1">
        <button mat-menu-item [matMenuTriggerFor]="individualLife">Vida Individual</button>
        <button mat-menu-item [matMenuTriggerFor]="groupLife">Vida Grupo</button>
        <button mat-menu-item [matMenuTriggerFor]="Generals">Generales</button>
        <a mat-menu-item style="position: relative;" routerLink="/autos">Autos</a>
        <a mat-menu-item style="position: relative;" routerLink="/pets">Mascotas</a>
        <a mat-menu-item style="position: relative;" routerLink="/travel">Viaje</a>
        <a mat-menu-item style="position: relative;" routerLink="/bikes">Bicicletas</a>
      </div>
      <!-- empresas -->
      <div *ngIf="layoutService.getTypeMenu() == 2">
        <a mat-menu-item style="position: relative;" routerLink="/compliance">Cumplimiento</a>
        <a mat-menu-item style="position: relative;" routerLink="/rc">RC</a>
        <a mat-menu-item style="position: relative;" routerLink="/financial-lines">Lineas Financieras</a>
        <a mat-menu-item style="position: relative;" routerLink="/all-risk-construction">Todo Riesgo construcción</a>
        <a mat-menu-item style="position: relative;" routerLink="/assembly">Montaje</a>
        <a mat-menu-item style="position: relative;" routerLink="/machinery-and-equipment">Maquinaría y Equipo</a>
      </div>
    </mat-menu>

    <mat-menu #individualLife="matMenu">
      <a mat-menu-item style="position: relative;" routerLink="/individual-life/1">Exequial</a>
      <a mat-menu-item style="position: relative;" routerLink="/individual-life/2">Vida</a>
      <a mat-menu-item style="position: relative;" routerLink="/individual-life/3">AP</a>
      <a mat-menu-item style="position: relative;" routerLink="/individual-life/4">Salud</a>
      <a mat-menu-item style="position: relative;" routerLink="/individual-life/5">Educación</a>
      <a mat-menu-item style="position: relative;" routerLink="/individual-life/6">Seguro de pensión</a>
      <a mat-menu-item style="position: relative;" routerLink="/individual-life/7">Enfermedades Graves</a>
    </mat-menu>

    <mat-menu #groupLife="matMenu">
      <a mat-menu-item style="position: relative;" routerLink="/group-life/1">Exequial</a>
      <a mat-menu-item style="position: relative;" routerLink="/group-life/2">Vida Grupo</a>
      <a mat-menu-item style="position: relative;" routerLink="/group-life/3">Vida Deudores</a>
      <a mat-menu-item style="position: relative;" routerLink="/group-life/4">Salud</a>
    </mat-menu>

    <mat-menu #Generals="matMenu">
      <a mat-menu-item style="position: relative;" routerLink="/generals/1">Hogar</a>
      <a mat-menu-item style="position: relative;" routerLink="/generals/2">Copropiedad</a>
      <a mat-menu-item style="position: relative;" routerLink="/generals/3">Arrendamiento</a>
      <a mat-menu-item style="position: relative;" routerLink="/generals/4">Exequial</a>
    </mat-menu>
  </div>
  <button mat-icon-button (click)="toggleMobileMenu()" id="menuIcon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<div [ngStyle]="{'width': !openMobileMenu ? '100vw' : 0}" class="sidebar-container">
  <div class="sidebar-options-container">
    <a mat-fab extended class="menu-button" color="primary">Inicio</a>
    <cdk-accordion class="accordion">
      <cdk-accordion-item #accordionItem="cdkAccordionItem" class="accordion-item" role="button" tabindex="0"
        [attr.aria-expanded]="accordionItem.expanded">
        <div class="accordion-item-header" (click)="accordionItem.toggle()">
          <button mat-fab extended class="menu-button" color="primary">
            <span>Portafolio</span>
            <mat-icon color="white">keyboard_arrow_down</mat-icon>
          </button>
        </div>
        <div role="region" [style.display]="accordionItem.expanded ? '' : 'none'">
          <div (click)="$event.stopPropagation();" class="submenu-button">
            <button mat-button (click)="layoutService.setTypeMenu(1)">Personas</button>
            <button mat-button (click)="layoutService.setTypeMenu(2)">Empresas</button>
          </div>
          <div *ngIf="layoutService.getTypeMenu() == 1">
            <cdk-accordion-item #accordionSubitem1="cdkAccordionItem" class="accordion-item" role="button" tabindex="0"
              [attr.aria-expanded]="accordionSubitem1.expanded">
              <div class="accordion-item-header" (click)="accordionSubitem1.toggle()">
                <button mat-fab extended class="menu-button submenu-button" color="primary">
                  <span>Vida Individual</span>
                  <mat-icon color="white">keyboard_arrow_down</mat-icon>
                </button>
              </div>
              <div role="region" [style.display]="accordionSubitem1.expanded ? '' : 'none'">
                <a mat-fab extended class="menu-button submenu-2-button" color="primary" routerLink="/autos">Autos</a>
                <a mat-fab extended class="menu-button submenu-2-button" color="primary"
                  routerLink="/individual-life/1">Exequial</a>
                <a mat-fab extended class="menu-button submenu-2-button" color="primary"
                  routerLink="/individual-life/2">Vida</a>
                <a mat-fab extended class="menu-button submenu-2-button" color="primary"
                  routerLink="/individual-life/3">AP</a>
                <a mat-fab extended class="menu-button submenu-2-button" color="primary"
                  routerLink="/individual-life/4">Salud</a>
                <a mat-fab extended class="menu-button submenu-2-button" color="primary"
                  routerLink="/individual-life/5">Educación</a>
                <a mat-fab extended class="menu-button submenu-2-button" color="primary"
                  routerLink="/individual-life/6">Seguro de pensión</a>
                <a mat-fab extended class="menu-button submenu-2-button" color="primary"
                  routerLink="/individual-life/7">Enfermedades Graves</a>
              </div>
            </cdk-accordion-item>
            <cdk-accordion-item #accordionSubitem2="cdkAccordionItem" class="accordion-item" role="button" tabindex="0"
              [attr.aria-expanded]="accordionSubitem2.expanded">
              <div class="accordion-item-header" (click)="accordionSubitem2.toggle()">
                <button mat-fab extended class="menu-button submenu-button" color="primary">
                  <span>Vida Grupo</span>
                  <mat-icon color="white">keyboard_arrow_down</mat-icon>
                </button>
              </div>
              <div role="region" [style.display]="accordionSubitem2.expanded ? '' : 'none'">
                <a mat-fab extended class="menu-button submenu-2-button" color="primary"
                  routerLink="/group-life/1">Exequial</a>
                <a mat-fab extended class="menu-button submenu-2-button" color="primary" routerLink="/group-life/2">Vida
                  Grupo</a>
                <a mat-fab extended class="menu-button submenu-2-button" color="primary" routerLink="/group-life/3">Vida
                  Deudores</a>
                <a mat-fab extended class="menu-button submenu-2-button" color="primary"
                  routerLink="/group-life/4">Salud</a>
              </div>
            </cdk-accordion-item>
            <cdk-accordion-item #accordionSubitem3="cdkAccordionItem" class="accordion-item" role="button" tabindex="0"
              [attr.aria-expanded]="accordionSubitem3.expanded">
              <div class="accordion-item-header" (click)="accordionSubitem3.toggle()">
                <button mat-fab extended class="menu-button submenu-button" color="primary">
                  <span>Generales</span>
                  <mat-icon color="white">keyboard_arrow_down</mat-icon>
                </button>
              </div>
              <div role="region" [style.display]="accordionSubitem3.expanded ? '' : 'none'">
                <a mat-fab extended class="menu-button submenu-2-button" color="primary" routerLink="/generals/1">Hogar</a>
                <a mat-fab extended class="menu-button submenu-2-button" color="primary" routerLink="/generals/2">Copropiedad</a>
                <a mat-fab extended class="menu-button submenu-2-button" color="primary" routerLink="/generals/3">Arrendamiento</a>
                <a mat-fab extended class="menu-button submenu-2-button" color="primary" routerLink="/generals/4">Exequial</a>
              </div>
            </cdk-accordion-item>
            <a mat-fab extended class="menu-button submenu-button" color="primary" routerLink="/autos">Autos</a>
            <a mat-fab extended class="menu-button submenu-button" color="primary" routerLink="/pets">Mascotas</a>
            <a mat-fab extended class="menu-button submenu-button" color="primary" routerLink="/travel">Viaje</a>
            <a mat-fab extended class="menu-button submenu-button" color="primary" routerLink="/bikes">Bicicletas</a>
          </div>
          <div *ngIf="layoutService.getTypeMenu() == 2">
            <a mat-fab extended class="menu-button submenu-button" color="primary"
              routerLink="/compliance">Cumplimiento</a>
            <a mat-fab extended class="menu-button submenu-button" color="primary" routerLink="/rc">RC</a>
            <a mat-fab extended class="menu-button submenu-button" color="primary" routerLink="/financial-lines">Lineas
              Financieras</a>
            <a mat-fab extended class="menu-button submenu-button" color="primary"
              routerLink="/all-risk-construction">Todo Riesgo
              construcción</a>
            <a mat-fab extended class="menu-button submenu-button" color="primary" routerLink="/assembly">Montaje</a>
            <a mat-fab extended class="menu-button submenu-button" color="primary"
              routerLink="/machinery-and-equipment">Maquinaría y
              Equipo</a>
          </div>
        </div>
      </cdk-accordion-item>
    </cdk-accordion>
    <a mat-fab extended class="menu-button" routerLink="/about">Nosotros</a>
    <a mat-fab extended class="menu-button" routerLink="/blog">Blog</a>
    <a mat-fab extended class="menu-button" routerLink="/qa">Q&A</a>
    <a mat-fab extended class="menu-button" routerLink="/contact">Contactanos</a>
  </div>
</div>

<!-- <mat-sidenav-container class="side-nav-container">
  <mat-sidenav #sidenav [fixedTopGap]="80" mode="side" class="sidebar-bg">
    <div class="side-nav-items">
      <div (click)="$event.stopPropagation();">
        <button mat-button (click)="selectTypeMenu(1)">Personas</button>
        <button mat-button (click)="selectTypeMenu(2)">Empresas</button>
      </div>

      <button mat-fab extended class="menu-button menu-item-button" color="primary">
        <span>Inicio</span>
        <mat-icon color="white">arrow_right</mat-icon>
      </button>
      <button mat-fab extended class="menu-button menu-item-button" color="primary">
        <span>Portafolio</span>
        <mat-icon color="white">arrow_right</mat-icon>
      </button>
      <button mat-fab extended class="menu-button menu-item-button" color="primary">
        <span>Nosotros</span>
        <mat-icon color="white">arrow_right</mat-icon>
      </button>
    </div>

  </mat-sidenav>

  <mat-sidenav-content>
    <div class="main-content">
      
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> -->