<mat-toolbar color="primary" class="nav-toolbar">
  <img src="./images/insurlink-white-logo.png" width="200px" alt="logo">
  <span class="flex-spacer"></span>
  <app-desktop-navigation />
  <button mat-icon-button (click)="toggleMobileMenu()" id="menuIcon" aria-label="Example icon-button with menu icon">
    <mat-icon *ngIf="!openMobileMenu">menu</mat-icon>
    <mat-icon *ngIf="openMobileMenu">close</mat-icon>
  </button>
</mat-toolbar>

<app-mobile-navigation *ngIf="openMobileMenu" [isOpenMobileMenu]="openMobileMenu" [toggleMobileMenu]="toggleMobileMenu.bind(this)" />
