<section>
  <div class="about-banner">
    <div class="about-content row col-md-12">
      <h1>En Insurlink, creemos en los seguros como una inversión.</h1>
      <p>Somos una agencia de seguros dedicada a brindar protección integral a pequeñas y medianas empresas, así como a personas naturales y sus familias.</p>
      <!-- <p>Nuestro compromiso es ofrecer un servicio cercano, profesional y especializado, conectando a nuestros clientes con las mejores opciones de seguros del mercado.</p> -->
    </div>
  </div>
</section>