.about-banner{
  background-image: url('/images/about/banner.png');
  background-size: cover;
  background-position: center;
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.about-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 750px;
  max-width: 60%;
  padding: 5%;
}

.about-content h1{
  font-size: 48px;
  color: var(--tertiaryColor);
  text-align: center;
  margin-bottom: 20px;
}

.about-content p{
  font-size: 30px;
  color: white;
  text-align: center;
}

@media screen and (max-width: 1024px){
  .about-content{
    width: 60%;
    max-width: 60%;
  }
}

@media screen and (max-width: 767px){
  .about-content{
    width: 100%;
    max-width: 100%;
  }

  .about-content h1{
    font-size: 36px;
  }

  .about-content p{
    font-size: 24px;
  }
}