<footer>
  <div class="footer-container">
    <div class="row">
      <div class="footer-image-container col-md-6">
        <img src="/images/insurlink-logo.png" alt="CodingTheSmartWay.com">
      </div>
      <p>Simplificamos y optimizamos tu experiencia con los seguros</p>
    </div>
    <div class="row">
      <ul class="footer-navigation col-md-10">
        <li><a routerLink="/home">Inicio</a></li>
        <li><a routerLink="/persons/1">Personas</a></li>
        <li><a routerLink="/companies/1">Empresas</a></li>
        <li><a routerLink="/about">Nosotros</a></li>
        <li><a routerLink="/blog">Blog</a></li>
        <li><a routerLink="/insurers">Aseguradoras</a></li>
        <li><a routerLink="/contact">Contactanos</a></li>
      </ul>
    </div>
  </div>
  <div class="row copyright-container col-md-12">
    <p class="text-center">© 2025 <a href="/" target="_blank">Insurlink</a></p>
  </div>
  <div class="image-logo-container col-md-4">
    <img src="/images/insurlink-yellow-logo.png" alt="Logo Insurlink">
  </div>
</footer>