<section class="our-history-section">
  <div class="our-history-container">
    <div class="our-history-content">
      <h1>Nuestra historia</h1>
      <p>Alexandra Peña, nuestra gerente y fundadora, te invita a conocer cómo nació InsurLink, una empresa creada con pasión, dedicación y una visión clara de transformar la forma en que conectamos con nuestros clientes.</p>
      <p>En este video, Alexandra comparte los retos, aprendizajes y sueños que marcaron el inicio de nuestro camino.</p>
      <p class="text-center"><b>¡Anímate a conocer nuestros orígenes y lo que nos impulsa a seguir creciendo cada día!</b></p>
    </div>
    <div class="video-container">
      <!-- <video autoplay muted loop>
        <source src="/videos/our-history.mp4" type="video/mp4">
      </video> -->
    </div>
  </div>
</section>
