<div class="carousel-container">
  <c-carousel [interval]="0">
    <c-carousel-indicators></c-carousel-indicators>
    <c-carousel-inner>
      <c-carousel-item>
        <div class="banner-container banner-1">
          <div class="banner-content">
            <h1>Te asesoramos para cotizar y contratar el seguro que mejor se ajusta a tus necesidades</h1>
            <a mat-flat-button routerLink="/persons/1" color="warn">Cotiza tu seguro ahora</a>
          </div>
        </div>
      </c-carousel-item>
      <c-carousel-item>
        <div class="banner-container justify-content-end banner-2">
          <div class="banner-content bigger">
            <h1>Explora nuestro blog y transforma tu visión sobre los seguros.</h1>
            <p>Consejos, tendencias y guías prácticas para proteger lo que más amas</p>
            <a mat-flat-button routerLink="/Blog" color="accent">Ir al Blog</a>
          </div>
        </div>
      </c-carousel-item>
      <c-carousel-item>
        <div class="banner-container banner-3">
          <div class="banner-overlay"></div>
          <div class="banner-content bigger">
            <h1>Tu mascota es parte de la familia Dale la protección que merece</h1>
            <a mat-flat-button routerLink="/persons/5" color="warn">Cotiza el seguro para tu mascota</a>
          </div>
        </div>
      </c-carousel-item>
    </c-carousel-inner>
    <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
    <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
  </c-carousel>
</div>