<div class="carousel-container">
  <c-carousel [interval]="7000">
    <c-carousel-indicators></c-carousel-indicators>
    <c-carousel-inner>
      <c-carousel-item>
        <div class="banner-container">
          <div class="banner-content">
            <h1>Te asesoramos para cotizar y contratar el seguro que mejor se ajusta a tus necesidades</h1>
            <button mat-flat-button color="warn">Cotiza tu seguro ahora</button>
          </div>
        </div>
      </c-carousel-item>
      <c-carousel-item>
        <div class="banner-container justify-content-end">
            <div class="banner-content bigger">
              <h1>Explora nuestro blog y transforma tu visión sobre los seguros.</h1>
              <p>Consejos, tendencias y guías prácticas para proteger lo que más amas</p>
              <button mat-flat-button color="accent">Ir al Blog</button>
            </div>
        </div>
      </c-carousel-item>
      <c-carousel-item>
        <div class="banner-container justify-content-end">
            <div class="banner-content bigger">
              <h1>Tu mascota es parte de la familia Dale la protección que merece</h1>
              <button mat-flat-button color="warn">Cotiza el seguro para tu mascota</button>
            </div>
        </div>
      </c-carousel-item>
    </c-carousel-inner>
    <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
    <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
  </c-carousel>
</div>