/* banner */

.banner-container {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/images/main-banner.jpg');
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 20px 15%;
  position: relative;
  min-height: calc(100vh - 80px);
  width: 100vw;
  display: flex;
  align-items: center;
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .65);
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 70% 0%, 60% 100%, 0% 100%);
  transition: all 2s linear;
}

.is-ready {
  width: 100%;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 350px;
  height: 100%;
}

.banner-content.bigger {
  width: 575px;
}

.banner-content h1 {
  color: white;
  text-align: center;
  font-weight: bold;
  margin: 0;
  font-size: 36px;
}

.banner-content p {
  color: var(--secondaryTextColor);
  text-align: center;
  font-size: 1.8rem;
  padding: 0 60px;
}

.banner-content button {
  margin-top: 30px;
  font-size: 24px;
  padding: 30px;
  border-radius: 30px;
}

.carousel-container {
  min-height: calc(100vh - 80px);
  background-color: #f1f1f1;
}

::ng-deep .carousel-indicators {
  margin-bottom: 2rem;
  width: 70%;
  gap: 10px;
}

::ng-deep .carousel-control-next,
::ng-deep .carousel-control-prev {
  width: 10%;
}

::ng-deep .carousel-indicators button {
  background-color: rgba(255, 255, 255, .5);
  border: none;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

::ng-deep .carousel-indicators button.active {
  background-color: white;
}

@media screen and (max-width: 1023px) {
  .banner-container {
    padding: 20px 10%;
    justify-content: center !important;
  }

  .banner-content {
    width: 100%;
    gap: 10px;
  }

  .banner-content h1 {
    font-size: 30px;
  }

  .banner-content p {
    font-size: 1.5rem;
    padding: 0;
    margin-bottom: 0;
  }

  .banner-content button {
    font-size: 20px;
    padding: 24px;
    margin-top: 10px;
  }

  ::ng-deep .carousel-indicators {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .banner-container {
    padding: 20px 10%;
  }

  .banner-container, 
  .carousel-container {
    min-height: calc(70vh - 80px);
  }

  .banner-content {
    width: 100%;
  }

  .banner-content h1 {
    font-size: 30px;
  }

  .banner-content p {
    font-size: 1.5rem;
    padding: 0;
  }

  .banner-content button {
    font-size: 20px;
    padding: 24px;
  }
}