<div [ngStyle]="{'width': isOpenMobileMenu ? '100vw' : 0}" class="sidebar-container">
  <div class="sidebar-options-container">
    <a mat-fab extended class="menu-button" (click)="toggleMobileMenu()" routerLink="/home"
      routerLinkActive="active">Inicio</a>
    <a mat-fab extended class="menu-button" (click)="toggleProductMenu(1)" routerLinkActive="active"
    routerLink="/persons" [routerLinkActiveOptions]="{exact: false}">
      <span>Personas</span>
      <mat-icon color="white">chevron_right</mat-icon>
    </a>
    <a mat-fab extended class="menu-button" (click)="toggleProductMenu(2)" routerLinkActive="active"
    routerLink="/companies" [routerLinkActiveOptions]="{exact: false}">
      <span>Empresas</span>
      <mat-icon color="white">chevron_right</mat-icon>
    </a>
    <a mat-fab extended class="menu-button" (click)="toggleMobileMenu()" routerLink="/about"
      routerLinkActive="active">Nosotros</a>
    <!-- <a mat-fab extended class="menu-button" (click)="toggleMobileMenu()" routerLink="/blog"
      routerLinkActive="active">Blog</a> -->
    <a mat-fab extended class="menu-button" (click)="toggleMobileMenu()" routerLink="/insurers"
      routerLinkActive="active">Aseguradoras</a>
    <a mat-fab extended class="menu-button" (click)="toggleMobileMenu()" routerLink="/contact"
      routerLinkActive="active">Contactanos</a>
  </div>
</div>

<div [ngStyle]="{'width': isOpenProductMenu && isOpenMobileMenu ? '100vw' : 0}"
  class="sidebar-container sidebar-submenu">
  <div class="sidebar-options-container" *ngIf="ProductOption">
    <button mat-fab extended class="menu-button back-button" (click)="isOpenProductMenu = false">
      <span>{{ProductOption.name}}</span>
      <mat-icon color="white">arrow_back</mat-icon>
    </button>
    <div *ngFor="let ProductSubmenu of ProductOption.submenu">
      <a mat-fab extended class="menu-button sublevel-menu" [routerLink]="ProductSubmenu.route" routerLinkActive="active"
        (click)="toggleMobileMenu()">{{ProductSubmenu.name}}</a>
    </div>
  </div>
</div>