<section class="life-insure-section">
  <div class="life-insure-container">
    <div class="breadbrumbs-container">
      <c-breadcrumb [style]="'--cui-breadcrumb-divider:\'>\''">
        <c-breadcrumb-item url="/inicio">Inicio</c-breadcrumb-item>
        <c-breadcrumb-item url="/personas/vida">Pólizas de Vida</c-breadcrumb-item>
        <c-breadcrumb-item [active]="true">{{selectedTypeInfo.name}}</c-breadcrumb-item>
      </c-breadcrumb>
    </div>

    <p>{{selectedTypeInfo.introduction}}</p>
  </div>
</section>
<app-coverage-cards [coverageCardsData]="selectedTypeInfo.coverages" title="Principales coberturas" />
<section class="life-insure-section" *ngIf="selectedTypeInfo.description">
  <div class="life-insure-container">
    <p>{{selectedTypeInfo.description}}</p>
  </div>
</section>