:root {
  --primaryColor: #5632D0;
  --secondaryColor: #07074D;
  --tertiaryColor: #E2E71B;
  --primaryTextColor: #07074D;
  --primaryGradient: linear-gradient(90deg, var(--primaryColor) 0%, var(--secondaryColor) 100%);
  --secondaryBGColor: rgba(7, 7, 77, 0.92);
  --secondaryHoverColor: rgba(5, 5, 55, 0.6);
  --secondaryHover2Color: rgba(3, 3, 33, 0.75);
  --secondaryTextColor: white;
  --mat-menu-item-label-text-font: 'Sofia Pro Light' !important;
  --mat-menu-item-label-text-size: 16px !important;
  /* coreUI Theme */
  --cui-indigo: var(--primaryColor);
  --cui-blue: var(--secondaryColor);
  --cui-yellow: var(--tertiaryColor);
  --cui-primary: var(--secondaryColor);
  --cui-info: var(--secondaryColor);
  --cui-warning: var(--tertiaryColor);
  --cui-font-sans-serif: 'Sofia Pro Light' !important;
  --cui-body-font-family: var(--cui-font-sans-serif);
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Sofia Pro Light' !important;}
* { box-sizing: border-box !important; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sofia Pro regular' !important;
}

.gradient {
  background: linear-gradient(90deg, var(--primaryColor) 0%, var(--secondaryColor) 100%);
}

.flex-spacer {
  flex: 1 1 auto;
}

.remove-bg {
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}

::ng-deep .primary-bg {
  background-color: var(--primaryColor) !important;
}

::ng-deep .secondary-bg {
  background-color: var(--primaryTextColor) !important;
}

::ng-deep .tertiary-bg {
  background-color: var(--tertiaryColor) !important;
}

::ng-deep .white-text {
  color: white;
}


