.banner-container {
  background-image: url('/images/home/home-section.png');
  background-size: cover;
  background-position: center top;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  background-attachment: fixed;
  align-items: center;
  color: #fff;
  text-align: center;
}

.banner-content {
  width: 610px;
  padding: 60px;
  margin-left: 50px;
}

.banner-content h1 {
  font-size: 48px;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .banner-container {
    justify-content: center;
  }
  .banner-content {
    width: 100%;
    padding: 20px;
    margin-left: 0;
  }

  .banner-content h1 {
    font-size: 32px;
  }
  
}