<section class="our-team-members-section">
  <h1>Nuestro Equipo</h1>
  <div class="carousel-container">
    <c-carousel [interval]="4000">
      <c-carousel-indicators></c-carousel-indicators>
      <c-carousel-inner>
        <c-carousel-item>
          <div class="team-category-content">
            <div class="team-member-card" *ngFor="let member1 of teamMembers1">
              <div class="team-member-image">
                <img [src]="member1.image" [alt]="member1.name">
              </div>
              <div class="team-member-details">
                <h2>{{member1.name}}</h2>
                <p>{{member1.position}}</p>
                <button mat-flat-button color="warn" (click)="openDialog(member1.id)">Contactar</button>
              </div>
            </div>
          </div>
        </c-carousel-item>
        <c-carousel-item>
          <div class="team-category-content">
            <div class="team-member-card" *ngFor="let member2 of teamMembers2">
              <div class="team-member-image">
                <img [src]="member2.image" [alt]="member2.name">
              </div>
              <div class="team-member-details">
                <h2>{{member2.name}}</h2>
                <p>{{member2.position}}</p>
                <button mat-flat-button color="warn" (click)="openDialog(member2.id)">Contactar</button>
              </div>
            </div>
          </div>
        </c-carousel-item>
        <c-carousel-item>
          <div class="team-category-content">
            <div class="team-member-card" *ngFor="let member3 of teamMembers3">
              <div class="team-member-image">
                <img [src]="member3.image" [alt]="member3.name">
              </div>
              <div class="team-member-details">
                <h2>{{member3.name}}</h2>
                <p>{{member3.position}}</p>
                <button mat-flat-button color="warn" (click)="openDialog(member3.id)">Contactar</button>
              </div>
            </div>
          </div>
        </c-carousel-item>
      </c-carousel-inner>
      <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
      <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
    </c-carousel>
  </div>
</section>
