<section class="coverage-cards-section">
  <div class="coverage-cards-container">
    <h1 *ngIf="coverageCardsTitle != 'null'" [ngClass]="{'secondary': isSecondary}">{{coverageCardsTitle}}</h1>
    <div class="coverage-card" *ngFor="let coverageCard of coverageCardsData">
      <div *ngIf="coverageCard.image" class="coverage-card-icon-container" [ngClass]="{'secondary': isSecondary}">
        <img [src]="coverageCard.image" alt="Icono de misión">
      </div>
      <div class="coverage-card-content">
        <h3 *ngIf="coverageCard.title" [ngClass]="{'secondary': isSecondary}">{{coverageCard.title}}</h3>
        <p *ngIf="coverageCard.description">{{coverageCard.description}}</p>
      </div>
    </div>
  </div>
</section>